.dropbtn {
    background-color: #4CAF50;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .audio {
  visibility: hidden;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  
  .dropdown-content button {
    color: black;
    padding: 9px 12px;
    text-decoration: none;
    min-width: 250px;
    display: block;
  }
  

  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  body {
    background: linear-gradient(rgb(38, 9, 44),rgb(56, 8, 58),rgb(0, 0, 0));
    min-height: 100vh;
    }
    h1  {
    font-size: x-large;
    background: linear-gradient(rgb(39,253,245), rgb(168,246,248), rgb(215,255,254), rgb(249,141,201), rgb(247,101,184));
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    }
    a  {
    font-size: x-large;
    background: linear-gradient(rgb(39,253,245), rgb(168,246,248), rgb(215,255,254), rgb(249,141,201), rgb(247,101,184));
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    .muzieknootjes {
    display: block;
    margin: auto;
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 200px;
    border: 0px solid #000;
    }
    
    .noot-1,
    .noot-2,
    .noot-3,
    .noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 35px;
    background: linear-gradient(rgb(39,253,245), rgb(168,246,248), rgb(215,255,254), rgb(249,141,201), rgb(247,101,184));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    }
    
    .noot-1 {
    top: 60px;
    left: 0;
    animation-delay: 0.5s;
    }
    
    .noot-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
    }
    
    .noot-3 {
    top: 90px;
    left: 60%;
    animation-delay: 1.5s;
    }
    
    .noot-4 {
    top: 40px;
    left: 90%;
    animation-delay: 2s;
    }
    
    @keyframes notes {
    0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
    }
    50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
    }
    80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
    }
    100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
    }
    }
    
    
    
    
    
    @keyframes notes {
    0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
    }
    50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
    }
    80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
    }
    100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
    }
    }